@import "__variable";
@import "__font";
%transition{-webkit-transition: all 0.3s ease; 
    -o-transition: all 0.3s ease; 
    transition: all 0.3s ease;}







header{
    background-color: $header;
    height: 650px;
    .navbar{
        padding: 20px 0;
    
    
        .navbar-nav{
            li{
                .nav-link{
                    color: $nav !important;
                    font-size: 23px;
                    font-weight: 700;
                    padding: 0 20px;
                    @extend %transition;
                    &:hover{
                        color: #fff !important;
                    }
                }
            }
        }
    }
    .banner_section .carousel-indicators li{
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }
    .carousel-item{
        padding-bottom: 70px;
        .nav a{
            color: $nav;
            font-size: 41px;
            padding: 0 21px
        }
        .col-md-6 .phone{
            text-align: end;
        }
        
    }
}                
h1{
    color: $nav;
    font-size: 40px;
    font-weight: 700;
}
h4{
    color: $nav;
    font-size: 30px;
    opacity: 0.9;
    margin-bottom: 20px;
}
p{
    color: $nav;
    font-size: 16px;
    opacity: 0.9;
    line-height: 1.5em;
}

.feature_section{
    padding: 80px 0;
    background-color: #ffffff;
    
    p{
        color: #868B90;
        font-size: 18px;
        font-weight: 500;
        opacity: 1;
    }
    .feature{
        padding: 30px 0;
        i{
            font-size: 40px;
            color: $nav;
            margin-top: 7px;
        }
        h3{
            font-size: 25px;
            font-weight: 600;
        }
        p{
            color: $nav;
            font-size: 16px;
            opacity: 0.7;
        }
    }
}

.contact_section{
    background-color: $footer;
    padding: 80px 0;
    h2{
        color: $header;
        font-weight: 700;
        font-size: 40px;

    }
    p{
        color: #fff;
        opacity: 0.7;
        margin-bottom: 35px;
    }

    .color{
       color: $nav;
       background-color: $header;
       border: 1px solid $header;
    }
    ul li{
        padding: 30px 30px;
        color: $nav;
        font-size: 30px;
        i{
        
            background-color: $header;
            width: 42px;
            height: 40px;
            border-radius: 8px;
            @extend %transition;
            &:hover{
                color: #fff;
            }
        }
    }


}

footer{
    background-color: $footer;
    padding: 40px 0;
    color: #fff;
    h6{
        line-height: 1.4em;
        opacity: 0.8;
        margin: 0;
        font-size: 18px;

    }


    ul{
        opacity: 0.8;
        line-height: 1.5em;
        font-size: 16px;
        text-decoration: none;
    li{
    list-style-type: none;
    &:hover{
        color: $header;
    }
    }
    }

}






/*responsive task*/
@media(max-width:1199px){



}
@media(max-width:991px){
    header {
        height: 470px;
    .navbar{
        margin-bottom: 40px;
    }
    }
    h1 {
        font-size: 27px;}
        h4{
            font-size: 21px;
            margin-bottom: 11px;
            
        }
        
        p{
            font-size: 13px;
        }

        header .carousel-item .nav a {
            font-size: 28px;
            padding: 0 8px;
        }   
    .banner_section .phone img{
        max-width: 170px;
    } 
}
@media(max-width:767px){
    header {
        height: 800px;}
    .feature_section .feature i {
        margin-top: 7px;
        margin-bottom: 20px;
    }
    
    h1{
        font-size: 35px;
    }
    .banner_section{
        text-align: center;
    }
    .carousel-item .nav a {
        font-size: 32px;
        
    } 
    .carousel-inner .nav{
        margin-bottom: 20px;
        justify-content: center;
    }

    header .carousel-item .col-md-6 .phone {
        text-align: center;
    }
  .banner_section .carousel-inner .carousel-item img {
        max-width: 170px;
        margin-top: 20px;
        text-align: center;
        justify-content: center;
  }
    .contact_section h2 {
        font-size: 33px;}
        .contact_section p {
            margin-top: 20px;
            font-size: 14px;}        
    .contact_section ul li{
        font-size: 18px;
        padding: 27px 0;
        
    }
    .contact_section ul li i {
         width: 27px;
         height: 27px
    }
.form-control{
    font-size: 14px;
}
.color{
    font-size: 14px;
}
    footer .information{
        display: none;
    }
}
@media(max-width:575px){
    header .navbar .navbar-nav li .nav-link {
        
        font-size: 17px;
    }
    h1 {
        font-size: 25px;}

    .navbar-nav {
        align-items: center;
        flex-direction: column;}   
        .navbar-toggler-icon {
            height: 1em;
            width: 1em;
        }
header .navbar {
            padding: 20px 6px;
        }
        .navbar-light .navbar-toggler {
            border-color: rgba(0, 0, 0, 0.06);
        }
.banner_section .carousel-inner{
    text-align: center;
}
        
        .navbar-brand{
                 img{
                     width: 120px;
                 }
                }

    .feature .col-md-4 .row{
        text-align: center;
    }  
    .contact_section h2 {
        font-size: 24px;}          
            

    footer .information{
        display: block;
        text-align: center;
        margin-bottom: 35px;
    }

}
















